<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>
<article class="aboutartc">
  <h2>About Me</h2>
  <p>Mi nombre es Juan Pablo Brenes, Estudiante de la carrera Ingeniería en Sistemas Computacionales en la universidad Fidélitas
    Me gustaría desenvolverme en la el desarrollo de software/web, he trabajado proyectos libres y universitarios utilizando
    diferentes tecnologias como JavaScript, Jquery, Angular, Express, NodeJs, Php, Bases de Datos SQL/NoSql. Los cuales podrás ver en la sección de Proyects</p>

</article>
